---
import Marquee from "../common/marquee.astro";
import Menulist from "../common/menulist.astro";

const now = new Date();
const year = now.getFullYear();
const COPY_RIGHT = `MB.js | copyright 2019-${year} Shumpei All Rights Reserved.`;
---

<footer>
  <div data-marquee="contact" class="width-100">
    <Marquee text="CONTACT US HERE!" isShowSeparate={false} />
  </div>
  <div data-marquee="enjoy" class="width-100">
    <Marquee
      text="ENJOY MAKING IT."
      isShowSeparate={false}
      isBelt={true}
      client:load
    />
  </div>
  <div class="flex align-center">
    <Menulist className="footer-menu" />
    <div class="flex copyright">
      <address translate="no">{COPY_RIGHT}</address>
    </div>
  </div>
</footer>

<style>
  .copyright {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .title::after {
    content: "|";
    margin: 0 2px;
  }

  .width-100 {
    width: 100%;
  }
</style>
